body {
  font-family: monospace;
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

canvas {
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

:-webkit-full-screen {
  background-color: black;
}

:-ms-fullscreen {
  background-color: black;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container canvas {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#action-buttons {
  position: absolute;
  margin: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  margin: 10px;
}

th,
td {
  border: 1px solid white;
  padding: 4px;
}

#controls {
  position: relative;
  float: right;
}
